@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: oklch(14.5% 0 0);
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

input {
  outline: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar-corner {
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-neutral-100 rounded-l-xl;
}

::-webkit-scrollbar-thumb {
  @apply bg-neutral-300 rounded-l-md relative;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-400;
}

input {
  background-color: transparent;
}

textarea {
  background-color: transparent;
}
